.contact-div-main {
  display: flex;
}

.contact-div-main > * {
  flex: 1;
}
.dropmail {
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.contact-title {
  padding-bottom: 100px;
}
.contact-img {
  /* /* height: 40%; */
  object-fit: contain;
  width: 50%;
  border-radius: 1px;
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.41);
  display: flex;
  margin: auto;
  margin-bottom: 50px;
}

form {
  padding-top: 4rem;
}
.contact-detail,
.contact-detail-email {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 400;
  color: #868e96;
  text-decoration: none;
}

.contact-detail:hover,
.contact-detail-email:hover {
  color: black;
  text-shadow: 2px 1px 2px #b5b5b5;
  transition: all 0.3s;
}

.contact-subtitle {
  text-transform: uppercase;
}

.contact-text-div {
  margin-top: 1.5rem;
}

.contact-margin-top {
  margin-top: 4rem;
}
/* 
/* Media Query */
@media (max-width: 1380px), (max-width: 768px) {
  .contact-img {
    display: flex;
    margin: auto;
    width:60%;
    margin-bottom: 40px;

  }
  .contact-div-main {
    display: flex;
    flex-direction: column;
  }
  .contact-title {
    text-align: center;
    padding-bottom: 40px;
  }

  .contact-subtitle {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }
.dropmail{
  padding-top: 0;
}
form{
  padding-top: 0;
}
  .contact-text-div {
    text-align: center;
    margin-top: 10px;
  }

  .contact-detail,
  .contact-detail-email {
    font-size: 20px;
  }
  .fromtextupper {
    margin-bottom: 0;
  }
  form {
    flex-direction: column;
  }
}
form {
  max-width: 420px;
  margin: auto;
}

.feedback-input {
  color: Black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #6363f7;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #0000ff;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  background: #0000ff;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #0000ff;
}
