.contact-div-main {
  display: flex;
  flex-direction: row;
}

/* .contact-div-main > * {
  flex: 1;
} */

.contact-detail,
.contact-detail-email {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 400;
  color: #868e96;
  text-decoration: none;
}

.contact-detail:hover,
.contact-detail-email:hover {
  color: black;
  text-shadow: 2px 1px 2px #b5b5b5;
  transition: all 0.3s;
}
.dropmail {
  text-align: center;
}

.contact-subtitle {
  text-transform: uppercase;
}

.contact-text-div {
  margin-top: 1.5rem;
}

/* .contact-margin-top {
  margin-top: 4rem;
} */

.contact-image-div > img {
  max-width: 100%;
  height: auto;
  /* margin-left: 1.5rem; */
  margin-top: -4rem;
}
.myimage {
  width: 400px;
  object-fit: cover;
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.41);
  margin-top: 20px;
  margin-bottom: 30px;
}

/* Media Query */
@media (max-width: 768px) {
  .contact-div-main {
    display: flex;
    flex-direction: column;
  }
  .myimage {
    margin-left: 40px;
    width: 250px;
  }
  /* .contact-title {
    font-size: 56px;
    font-weight: 400;
    text-align: center;
  } */

  .contact-title {
    text-align: center;
  }

  .contact-subtitle {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }

  .contact-text-div {
    text-align: center;
    margin-top: 1.5rem;
  }

  .contact-detail,
  .contact-detail-email {
    font-size: 20px;
  }
}

form {
  max-width: 420px;
  margin: auto;
  margin-top: 70px;
}
.feedback-input {
  color: Black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #6363f7;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #0000ff;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  background: #0000ff;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #0000ff;
}
